TAPLENS_ENVIRONMENT=staging
TAPLENS_LOG_LEVEL=INFO
TAPLENS_PUBLIC_BASE_URL=http://203.0.113.10
TAPLENS_JWT_SECRET=replace-with-at-least-32-random-characters
TAPLENS_ACCESS_TOKEN_MINUTES=60
TAPLENS_DAILY_QUOTA_LIMIT=10
TAPLENS_QUOTA_TIMEZONE=Asia/Shanghai
TAPLENS_ARTIFACT_TTL_MINUTES=30
